body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color:#B2BEB5;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color:#36454F;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#taskInput {
    width: 75%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #36454F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#taskList {
    list-style: none;
    padding: 3;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid #ddd;
}

.task-item.completed {
    text-decoration: line-through;
    color: #888;
}
